@charset "UTF-8";



@media all and (min-width: 1600px) {
    .entry-content {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 1.5em;
           -moz-column-gap: 1.5em;
                column-gap: 1.5em;
        -webkit-column-rule: 1px dashed #E5E5E5;
           -moz-column-rule: 1px dashed #E5E5E5;
                column-rule: 1px dashed #E5E5E5;
    }
}

@media all and (max-width: 800px) {
    html, body { height: auto; }

    .layout-header, .layout-container, .layout-footer > div { margin-left: 0; }
    .layout-header, .layout-footer { height: auto; margin: 0; }
    .layout-header { background-color: #FCFCFC; }
    .layout-container { min-height: 0; }

    .layout-sub { display: none; }
    .layout-main, .layout-sub { padding: 0; margin: 0; }

    .layout-column-two:before { display: none; }
    .layout-column-two .layout-sub { display: block; position: static; float: none; width: auto; margin: 1em; }

    #pane, #navi, #caption { position: static; }

    #pane {
        width: auto;
        background: none;
        border: none; border-radius: 0;
        box-shadow: none;
        overflow: hidden;
    }

    #navi {
        overflow: hidden;
        background: #E5E5E5;
        border-bottom: 1px solid #DDD;
        padding: .2em .5em;
    }
    #navi a {
        float: left;
        font: .85em/2 Verdana;
        border: none; border-radius: .3em;
        margin: 0 0 0 .5em;
        padding: 0 1em;
    }
    #navi a:first-child { margin-left: 0; }
    #navi a:hover { background-color: #CCC; }
    #navi a.current {
        margin-right: 0;
        color: #F7F7F7;
        text-shadow: none;
        box-shadow: none;
        background-color: #758694;
        font-weight: normal;
    }
    #navi a i { display: none; }

    #caption { float: left; margin-left: 1em; }
    #caption h1 { font-size: 1.5em; line-height: 48px; }
    #caption p { display: none; }

    #headerBar { height: auto; margin: 0 0 1em; padding: 0 0 .2em 1em; }
    #breadcrumb { position: static; }

    .list-item { padding: 1em; }
    .entry { padding-left: 1em; padding-right: 1em; }

    #extraModules { width: auto; margin: 0 1em; }
    #copyright { padding: 1em; }

    #contact, #contact .contact_qq { position: static; }
    #contact { margin: 1.5em 1em 0; }
    #contact .avatar, #contact .tri { display: none; }
    #contact > div { padding: 8px 5px; }
    #contact p { line-height: 1.5; padding: 0; word-wrap: break-word; word-wrap: normal\0; word-break: break-all; white-space: normal; }
    #contact .contact_qq img { vertical-align: text-bottom; }

    #headerBar { padding: 0; }
    #toolbar, #categoryList { width: auto; }
    #toolbar { float: none; }
    #categoryList { position: static; background-color: #FCFCFC; }
    #categoryList dt a {
        width: 32px; height: 32px;
        position: absolute; top: -39px; right: 10px;
        text-indent: -999em;
        padding: 0;
        background: url("../image/menu_32.png") no-repeat 0 0;
        cursor: pointer;
    }
    #categoryList dd, #breadcrumb { display: none; }
    #categoryList dd { box-shadow: none; border-style: none; border-top: 1px solid #EFEFEF; background-color: transparent; }
    #categoryList:hover dd { display: none; }
}

@media all and (max-width: 500px) {
    #extraModules .link-list { width: auto; float: none; margin-top: 1.5em; }
    #extraModules .link-list:first-child { margin-top: 0; }
}